body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.nav-item:hover{
border-bottom: 2px solid rgb(255, 255, 255);
  transition: .6s;
 overflow-x: hidden;
}
.select:hover{
  border-bottom: 2px solid rgb(255, 255, 255);
    transition: .6s;
   overflow-x: hidden;
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
